@font-face {
    font-family: 'gitee';  /* project id 2447826 */
    src: url('//at.alicdn.com/t/font_2447826_8s7h70rvbeq.eot');
    src: url('//at.alicdn.com/t/font_2447826_8s7h70rvbeq.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2447826_8s7h70rvbeq.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2447826_8s7h70rvbeq.woff') format('woff'),
    url('//at.alicdn.com/t/font_2447826_8s7h70rvbeq.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2447826_8s7h70rvbeq.svg#iconfont') format('svg');
  }
  @font-face {
    font-family: 'github';  /* project id 2447832 */
    src: url('//at.alicdn.com/t/font_2447832_0hw2qx5lf1i7.eot');
    src: url('//at.alicdn.com/t/font_2447832_0hw2qx5lf1i7.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_2447832_0hw2qx5lf1i7.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_2447832_0hw2qx5lf1i7.woff') format('woff'),
    url('//at.alicdn.com/t/font_2447832_0hw2qx5lf1i7.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_2447832_0hw2qx5lf1i7.svg#iconfont') format('svg');
  }


