// .babelrc
{
    "plugins": [
        [
            "import",
            {
                "libraryName": "vue-canvas-effect",
                "libraryDirectory": "src/components"
            }
        ]
    ]
}